body {
  margin: 0;
}
.container {
  width: 1280px;
  margin: 0 auto;
  border: 1px solid black;
}
.main-header {
  width: 100%;
  background-color: #445161;
  color: #fff;
  font-family: Arial;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-header:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.main-header-wrp {
  min-width: 458px;
  float: left;
}
.main-header-title {
  margin: 0 0 34px 0;
  font-size: 60px;
  line-height: 44px;
  font-weight: 400;
  color: #ffffff;
}
.main-header-list {
  margin: 0 0 0 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
}
.main-header-list-item {
  list-style-type: none;
  position: relative;
}
.main-header-list-item:before {
  content: "";
  display: block;
  width: 25px;
  height: 19px;
  background-image: url(../img/check_icon_346.png);
  background-size: cover;
  position: absolute;
  top: 10px;
  left: -36px;
}
.main-header-img {
  display: block;
  width: 469px;
  min-height: 214px;
  float: right;
  background-color: #fff;
}
.content {
  width: 100%;
}
.about-product {
  background-color: #ffffff;
  font-family: Arial;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-product-wrp {
  max-width: 650px;
}
.content-titleh2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
}
.about-product-title {
  margin: 0 0 22px 0;
}
p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.about-product-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin: 0 0 20px 0;
}
.about-product-text:last-child {
  margin: 0;
}
.about-product-video {
  display: block;
  width: 430px;
  min-height: 245px;
  background-color: #445161;
}
.dignity {
  background-color: #f2f2f2;
  font-family: Arial;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 23px;
}
.dignity-title {
  text-align: center;
  margin: 0 0 21px 0;
}
.dignity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.dignity-list-item {
  margin: 0 0 27px 0;
  max-width: 50%;
  padding: 0 0 0 40px;
  list-style-type: none;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.dignity-list-item:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/plus.png);
  background-size: cover;
  position: absolute;
  top: 4px;
  left: 0;
}
.screenshots {
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  font-family: Arial;
  padding-bottom: 20px;
}
.screenshots-title {
  margin: 0 0 35px 0;
  text-align: center;
}
.screenshots-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.screenshots-figure {
  max-width: 590px;
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.screnshots-figure-img {
  display: block;
  min-width: 200px;
  min-height: 150px;
  background-color: #445161;
  color: #445161;
}
.screenshots-figure-caption {
  margin: 0 15px;
}
.screenshots-figure-caption-title {
  margin: 0 0 7px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  color: #445161;
}
.screenshots-figure-caption-text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}
.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: Arial;
  padding-bottom: 26px;
}
.reviews-title {
  min-width: 100%;
}
.reviews-item {
  width: 48.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 24px;
  padding: 0;
}
.reviews-photo {
  min-width: 75px;
  max-height: 75px;
  background-color: #445161;
  border-radius: 50%;
  margin: 0 16px 0 0;
}
.reviews-item-txt {
  border-radius: 2%;
  background-color: #ebebeb;
  padding: 16px 16px 10px 16px;
  margin: 0;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  color: #333333;
}
.reviews-item-txt::before {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: -19px;
  border: 10px solid transparent;
  border-right: 10px solid #ebebeb;
}
.review-item-author {
  font-style: normal;
  color: #989898;
  width: 100%;
  margin: 5px 0 0 0;
  display: block;
}
.prices {
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  font-family: Arial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.prices-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  width: 100%;
  display: block;
  margin: 0 0 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
.prices-item {
  width: 300px;
  margin: 0 45px 0 0;
  background-color: #445162;
  border-radius: 10px;
  border: 2px solid #445162;
  padding: 0 0 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.prices-item:nth-child(4) {
  margin: 0;
}
.prices-item-title {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.prices-item-price {
  font-size: 40px;
  font-weight: 400;
  color: #445162;
  text-align: center;
  display: block;
  background-color: #ffffff;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.prices-item-list {
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-position: inside;
}
.prices-item-list-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  color: #ffffff;
}
.prices-item-button {
  width: 260px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  padding: 0;
  border: 0px;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: 0 auto;
}
.footer {
  padding-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: #445161;
  color: #fff;
  font-family: Arial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-title {
  width: 100%;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  color: #ffffff;
  display: block;
  margin: 0 0 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-family: Arial;
}
.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 75px 50px 0;
}
.footer-form-input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0px;
  color: #445162;
  width: 500px;
  min-height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.footer-form-input::-webkit-input-placeholder {
  opacity: 1;
}
.footer-form-input:-ms-input-placeholder {
  opacity: 1;
}
.footer-form-input::-ms-input-placeholder {
  opacity: 1;
}
.footer-form-input::placeholder {
  opacity: 1;
}
.footer-form-textarea {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0px;
  color: #445162;
  width: 500px;
  min-height: 170px;
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: Arial;
}
.footer-form-textarea::-webkit-input-placeholder {
  opacity: 1;
}
.footer-form-textarea:-ms-input-placeholder {
  opacity: 1;
}
.footer-form-textarea::-ms-input-placeholder {
  opacity: 1;
}
.footer-form-textarea::placeholder {
  opacity: 1;
}
.footer-form-submit {
  width: 140px;
  background-color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #445162;
  border-radius: 5px;
  border: 0px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.prices-item-button:hover,
.footer-form-submit:hover {
  background-color: #a8a8a8;
}
.prices-item-button:active,
.footer-form-submit:active {
  background-color: #5a5a5a;
  color: #ffffff;
}
.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-links-list {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}
.footer-links-list-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  color: #ffffff;
  list-style-type: none;
  position: relative;
  margin: 0 0 22px 0;
  padding: 0 0 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer-links-list-item:nth-child(1)::before {
  background-image: url(../img/skype_icon.png);
  content: "";
  display: block;
  width: 24px;
  height: 26px;
  background-size: cover;
  position: absolute;
  left: -30px;
}
.footer-links-list-item:nth-child(2)::before {
  background-image: url(../img/icq_icon.png);
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background-size: cover;
  position: absolute;
  left: -30px;
}
.footer-links-list-item:nth-child(3)::before {
  background-image: url(../img/email_icon.png);
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-size: cover;
  position: absolute;
  left: -30px;
}
.footer-links-list-item:nth-child(4)::before {
  background-image: url(../img/phone_icon.png);
  content: "";
  display: block;
  width: 24px;
  height: 23px;
  background-size: cover;
  position: absolute;
  left: -30px;
}
.footer-links-list-item:nth-child(1)::before,
.footer-links-list-item:nth-child(2)::before,
.footer-links-list-item:nth-child(3)::before,
.footer-links-list-item:nth-child(4)::before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
}
.footer-links-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-links-social-item {
  margin-right: 10px;
}
.footer-links-social-item:nth-child(1) {
  background-image: url(../img/twitter.png);
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  background-size: cover;
}
.footer-links-social-item:nth-child(2) {
  background-image: url(../img/facebook.png);
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  background-size: cover;
}
.footer-links-social-item:nth-child(3) {
  background-image: url(../img/linkedin.png);
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  background-size: cover;
}
.footer-links-social-item:nth-child(4) {
  background-image: url(../img/googleplus.png);
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  background-size: cover;
}
.footer-links-social-item:nth-child(5) {
  background-image: url(../img/youtube.png);
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  background-size: cover;
}
.footer-copyright {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  margin: 0;
  color: #445162;
  font-size: 12px;
  line-height: 25px;
  font-weight: 400;
  font-family: Arial;
}
